<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>User Profile</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/css/bootstrap.css" />
    		<!-- Font-Awesome -->
		<link rel="stylesheet" href="/css/all.css" />
    <!-- CSS Link -->
    <!-- <link rel="stylesheet" href="/styles/style.css" /> -->
    <script src="/style.bundle.js"></script>
</head>
<body>