<div class="container-fluid">
	<div class="row bg-dark">
		<div class="col-md-2">
			<div class="text-center py-5">
				<h2 class="footer-brand-title">JASA</h2>
				<div class="footer-brand-bottom-border m-auto"></div>
				<img src="/uploads/jasa-logo.svg" style="max-width: 120px;" alt="JASA" class="jasa-logo" />
			</div>
		</div>
		<div class="col-md-4">
			<div class="p-5">
				<h3 class="footer-title">ABOUT JASA</h3>
				<div class="footer-border mt-4"></div>
				<p class="footer-about-text mt-1">
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic ex alias ab! Beatae tempora ullam quibusdam suscipit eos rerum, odit corporis
					culpa, minus adipisci consectetur explicabo unde optio. Totam, sint corrupti. Ad, mollitia reiciendis minus deserunt voluptatem doloremque
					sit exercitationem?
				</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="p-5">
				<h3 class="footer-title">FEATURED LINKS</h3>
				<div class="footer-border mt-4"></div>
				<ul class="footer-link-container">
					<li class="mt-1">
						<a href="#" class="text-info">Links One</a>
					</li>
					<li class="mt-1">
						<a href="#" class="text-info">Link Two</a>
					</li>
					<li class="mt-1">
						<a href="#" class="text-info">Link Tree</a>
					</li>
					<li class="mt-1">
						<a href="#" class="text-info">Link Four</a>
					</li>
					<li class="mt-1">
						<a href="#" class="text-info">Link Five</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-2">
			<div class="py-5 social-container">
				<h3 class="footer-title">SOCIAL LINKS</h3>
				<div class="footer-border mt-4"></div>
				<div class="social-links mt-2">
					<a class="youtube">
						<i class="fab fa-youtube m-1"></i>
					</a>
					<a class="twitter">
						<i class="fab fa-twitter m-1"></i>
					</a>
					<a class="instragram">
						<i class="fab fa-instagram"></i>
					</a>
					<a class="facebook">
						<i class="fab fa-facebook m-1"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Copyright -->
	<div class="row copyright text-light">
		<p class="pt-3 pl-4 copy">Copyright &copy;2020 <span>JASA</span> All Rights Reserved</p>
		<p class="pt-3 pr-4">Developed By Muhammad Minhaj</p>
	</div>
</div>

<!-- Bootstrap JS Links -->
<script
	src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"
></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"
></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"
></script>
<script src="/js/swiper.min.js"></script>
<script src="/web.bundle.js"></script>