<div class="container-fluid bg-dark mani-navigation-container">
	<div class="row">
		<div class="container">
			<nav class="navbar navbar-expand-md navigation-container">
				<button
					class="navbar-toggler ml-auto nav-btn"
					type="button"
					data-toggle="collapse"
					data-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<div class="nav-toggler">
						<div class="nav-toggle-line"></div>
						<div class="nav-toggle-line"></div>
						<div class="nav-toggle-line"></div>
					</div>
				</button>
				<div class="collapse navbar-collapse navigation" id="navbarNavAltMarkup">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Pricing</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Libray</a>
						</li>
						<li>
							<a class="nav-link" href="#">Menu</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>
