.custom_user_card_container{
    border: 1px solid #ffc107;
    padding: 1rem 0rem;
    box-shadow: 0pt 0pt 3pt 2pt #49505736;
    border-radius: 10px;
    background: radial-gradient(#c5b21c,#308d53,#a9a92e);
}
.user_card{
    border: 1px solid #6c757d5c;
    padding: 1.5rem 0rem;
    text-align: center;
    border-radius: 10px;
    margin: 3px;
    background: #106da4;
    color: #f8f9fa;
    border: 1px solid #dee2e6;
    animation-name: translateYAnimation;
    animation-duration: 1s;
}

@keyframes translateYAnimation{
    from{
        transform: translateY(-300px);
    }to{
        transform: translateY(0px);

    }
}
.user_card>h6{
    /* border: 1px solid #ffc107bf; */
    /* display: inline-block; */
    /* padding: 0.5rem; */
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: arial;
    color: #ffc107;
    font-size: 1.25em;
}
.user_card>h5{
    border: 1px solid #f8f9fa45;
    display: inline-block;
    padding: 1.5vw;
    border-radius: 10%;
    font-weight: 600;
    text-transform: uppercase;
    font-family: arial;
    color: #f8f9fa;
    font-size: 2em;
    width: 50%;
    transition:all 0.5s;
    cursor: pointer;
}
.user_card>h5:hover{
    transform: scale(1.1);
}
.user_left_card{
    border: 1px solid #ffc107;
    padding: 1rem 0rem;
    box-shadow: 0pt 0pt 3pt 2pt #49505736;
    border-radius: 10px;
    background: #106da4;
    height: 100%;
}
.user_small_card{
    border: 2px solid #d39e00;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0pt 0pt 5pt 0pt #00000040;
    background: linear-gradient(45deg,#ffc107de, #139436a1,#ffc107);
    transition: all 0.5s;
    cursor: pointer;
    display: block;
    animation-name: translateXAnimation;
    animation-duration: 1s;
}
@keyframes translateXAnimation{
    from{
        transform: translateX(-500px);
    }to{
        transform: translateX(0px);

    }
}
.user_small_card:hover{
    transform: scale(0.97);
    border: 2px solid #28a745;
    text-decoration: none;
}
.user_card_icon{
    /* font-size: 3.25em; */
    font-size: min(7vh,50px);
    color: #495057;
}
.user_card_text{
    text-transform: uppercase;
    font-family: Arial;
    font-size: min(2.5vh,25px);
    color: #e9ecef;
    font-weight: 600;
}
.user_right_card{
    border: 1px solid #ffc107;
    padding: 1rem 0rem;
    box-shadow: 0pt 0pt 3pt 2pt #49505736;
    border-radius: 10px;
    background: #106da4;
    height: 100%;
}

.user_notice_title{
    text-align: center;
    color: #ffc107de;
    font-weight: bold;
}
.user_notice_body{
    /* border:1px solid white; */
    margin:1.5rem;
    padding:1rem;
    font-size:1.25em;
    text-align: center;
    box-shadow: 0pt 0pt 3pt 1pt #ffffff36;
    border-radius: 10px;
    font-family: arial;
    font-weight: 600;
    background: #f8f9fa14;
    color: #f8f9fa;
    animation-name: translateX__RightAnimation;
    animation-duration: 1s;
}

@keyframes translateX__RightAnimation{
    from{
        transform: translateX(500px);
    }to{
        transform: translateX(0px);

    }
}
.user-list-group-item:hover{
    cursor: pointer;
    background: #dee2e69e;
}
.user_item_links{
     display: block;
     font-weight: 600;
     /* text-transform: uppercase; */
     font-family: arial;
     color: #0062cc;
}
.user_item_links:hover{
    text-decoration: none;
   
}
.profile__pic{
    max-width: 150px;
    height: auto;
    box-shadow: 0pt 0pt 3pt 1pt rgba(0, 0, 0, 0.226);
    margin:auto;
}
.profile_font_Img{
    font-size: 9em;
    color: #6c757d;
}
.profile__img{
    width: 100%;
    height:auto;
}
#parentProfilePicPreview{
    position: relative;
    /* border: 1px solid #545b623b; */
    max-width: 200px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0pt 0pt 3pt 1pt #00000030;
}


.editProfilePicsEditBtn{
    position: absolute;
    top: 0px;
    right: 2px;
    font-size: 1.25rem;
    color: #d39e00;
    cursor: pointer;
    display: none;
}
.updateProfilePicPreview{
    position: relative;
}
.updateProfilePicsEditBtn{
    position: absolute;
    top: 0px;
    right: 2px;
    font-size: 1.25rem;
    color: #e9ecef;
    cursor: pointer;
    display: none;
}
.adminCreateBtn {
    outline: none!important;
    border: 1px solid #545b6282;
    border-radius: 4px;
    color: #6c757d;
}


@media (max-width: 576px){

    .user_card>h5{
        padding: 0.5rem 3rem;
        font-size: 1.75em;
        border-radius: 8px;
    }
    .addUserMarginTop{
        margin-top:0.5rem
    }
    .removeXPadding{
        padding-right:0px!important;
        padding-left:0px!important;
        
    }
    
}