@font-face {
	font-family: 'Georgia';
	src: url('/fonts/Georgia/Georgia.woff') format('woff'); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
.admin-create-title{
    color:#dee2e6;
    font-family: 'Georgia';
}
/* .admin-create-sub-title{
	font-family:Georgia;
	color:#dee2e6;
} */
.input-style{
	border:1px solid #28a74552;
	width:100%;
	font-size:14px;
	border-radius:5rem;
	outline:none;
	padding:5px 15px;
}
.input-style:focus {
	/* box-shadow: 0 0 3pt 2pt green;  */
	box-shadow: 0 0 3pt 0pt green; 
}
.text-style{
	font-family:Georgia;
	font-size:14px;
	text-transform: lowercase;
	margin-right:8px;
	margin-left:4px;
}
.border-style{
	border-radius:10px;
	border:1px solid #00800054
}

.admin-show-scroll-style{

	height:380px;
	overflow-Y: scroll;
	scroll-behavior: smooth;
	margin-right:1px;

}
.admin-show-scroll-style::-webkit-scrollbar{
	width:3px; 
	height:4px;
}
.admin-show-scroll-style::-webkit-scrollbar-track{
	background:white;
	border-radius: 25px
}
.admin-show-scroll-style::-webkit-scrollbar-thumb{
	background:linear-gradient(#6200ea,#4a148c,#6200ea);
	border-radius: 25px
}
table{
	font-size: 12px;
}

.admin-show-card{
	border-radius:10px;
}
.admin-show-card-body{
	padding:0rem!important
}
.adminCreateBtn{
	
	outline:none!important;
	background:#0000001a;
	border: 1px solid #e9ecef6e;
	border-radius:8px;
	color:#dee2e6;
}
.adminCreateBtn:hover{
	background:#6c757d;
}
#createAdminBtn{
	background: #495057;
	
    width: 100%;
    border: none;
    outline: none!important;
    border-radius: 6px;
	color: white;
	padding:4px 0px;
}
#createAdminBtn:hover{
	background: #343a40;
    color: #dee2e6;
}
.closeModalBtn{
	float: right;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    color: #bd2130;
	background:transparent;
	border:none;
	outline: none!important;
	border-radius:4px
}
.closeModalBtn:hover{
	background:#495057;
}