@font-face {
	font-family: 'Georgia';
	src: url('/fonts/Georgia/Georgia.woff') format('woff'); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'myfont';
	src: url('/fonts/baskerville/BaskervilleBT.woff') format('woff'); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
body {
	overflow-x: hidden;
}
body::-webkit-scrollbar {
	width: 10px;
}
body::-webkit-scrollbar-track {
	border: 2px solid rgb(201, 58, 32);
}
body::-webkit-scrollbar-thumb {
	background: linear-gradient(blue, #1f9411, blue);
	width: 5px;
	border: 1px solid rgb(201, 58, 32);
	border-radius: 5px;
}
html {
	scroll-behavior: smooth;
}

.paddingRemover{
	padding-right: 13px!important;
	padding-left: 0px!important;
}
/* Admin Dashboard Sidebar Head Content */
.admin-head-brand-container {
	/* border-bottom:1px solid #ffffff33; */
	border-bottom: 1px dashed #ffffff2b;
	border-right: 1px dashed #ffffff2b;
}
.admin-head-brand {
	border-bottom: 2px solid #1e7e34;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.admin-head-brand > h1 {
	color: #dee2e6;
	font-family: Georgia;
}
/* Admin Sidebar Scroll Designed */
@media (min-width: 576px) {
	.sidebar {
		height: 562px;
		overflow-y: auto;
		scroll-behavior: smooth;
	}
	.sidebar::-webkit-scrollbar {
		width: 2px;
	}
	.sidebar::-webkit-scrollbar-track {
		background: #212529;
	}
	.sidebar::-webkit-scrollbar-thumb {
		background:#adb5bd;
		border-radius: 8px;
	}
}
/* Admin Sidebar Menu Content */
.sidebar-menu-item {
	/* display:flex;
    justify-content:space-around; */
	cursor: pointer;
	border-bottom: 1px dashed #6c757d;
	border-bottom-right-radius: 20px;
	margin: 6px 0px;
}
.sidebar-menu-item >  div > a {
	text-decoration: none;
	color: #dee2e6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
}
.sidebar-menu-item > div > i {
	color: #ffffffc2;
	transform: rotate(90deg);
}
.sidebar-menu-item:hover {
	transform: translateX(15px);
	transition: transform 0.5s;
	border-right: 1px dashed orange;
	border-top: 1px dashed orange;
	border-bottom:1px dashed orange;
}

.clickToStyle {

	border-right: 1px dashed #f8f9fa;
    border-top: 1px dashed #f8f9fa;
    border-bottom: 1px dashed #f8f9fa;
}

/* ANCHOR  Sub Menu Of Page */
.pages-menu-container {
	border-top: 1px solid #ececec1f;
	background: #0000001f;
	border-bottom-right-radius: 15px;
	display: none;
	transition: all 1s;
}
.pages-menu {
	list-style: none;
	padding-left: 28px!important;
}
.pages-menu > li {
	/* color: #acb9c6; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin: 5px 0px;
	font-weight: bold;
}
.pages-menu > li:hover {
	transform: scale(0.96);
	transition: transform 0.5s;
	/* background: red; */
}
.pages-menu > li > a {
	width: 100%;
	background: #adb5bd;
	color: #343a40;
	border: none;
	padding: 5px;
	outline: none;
	/* border-bottom: 1px solid #ffffff2e; */
	/* border: 1px solid #1e7e34; */
	font-size: 14px;
	display: block;
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
}
.pages-menu > li > a:hover {
	/* box-shadow: 1pt 0pt 0pt #07ad4aab; */
	background: #e9ecef;
	color: #1e7e34;
}
.pages-menu > li > a:focus {
	box-shadow: 1pt 0pt 0pt #07ad4aab;
}
.page-create-btn {
	border-radius: 4px;
	/* border: 1px solid #2cca6b3d; */
	background: #f8f9fa;
	font-family: arial;
	display: block;
	text-align: center;
	color: #007bff;
	font-weight: bold;
	width: 86%;
	float: right;
	padding: 2px 0px;
}
.page-create-btn:hover {
	text-decoration: none;
	color: #495057;
}
.page-create-btn:focus {
	box-shadow: 0pt 0pt 6pt 0pt #10525d;
}

.newsBtn {
	color: red !important;
}

/* Admin Dashboard Content Head */
.admin-content-head {
	padding: 21px 0px;
}
.admin-content-head-administrator {
	font-family: Georgia;
}

.admin-content-head-administrator > button {
	border: 1px solid black;
}

.admin-head-search > form > input {
	width: 16rem !important;
	height: 30px !important;
	border-radius: 15px;
	background: transparent;
	border: 1px dashed orange;
}
.admin-head-search > form > button {
	border-radius: 50%;
	background: transparent;
	border: 1px dashed orange;
	color: #ffffff94;
}
.admin-head-icon {
	font-family: Georgia;
}
.admin-head-icon > button {
	border: 1px solid black;
}

.admin-head-icon > button > i {
	font-size: 17px;
}
.admin-head-icon > form {
	display: inline-block;
}
.admin-head-icon > form > button {
	border: 1px solid black;
}

/* Admin Dashboard Content Body */
