.custom-card{
    height:100%;
    background: #dee2e6;
    border-top: 6px solid #495057;
    /* box-shadow: 0pt -4pt 0pt 0px #545b62; */
    border-radius: 6px 6px 0px 0px;
}
.latestNewsTitle{
    width:100%;
    /* border-radius:6px; */
    /* padding:5px; */
    border-bottom: 1px solid #00000038;
    background: #0000000d;
    color:#495057;
    font-weight: bold;
    font-family:arial;
    transition:all 0.5s;
}
.latestNewsText{
    width:100%;
    height:200px;
    /* border-radius:6px; */
    padding:5px;
    border-bottom: 1px solid #0000003d;
    background: #0000000d;
    color:#495057;
    font-family:arial black;
    transition:all 0.5s;
}
.latestNewsTitle:focus{
    border-bottom:2px solid #6c757d;
}
.latestNewsText:focus{
    border-bottom:2px solid #6c757d;
}
.dateCustomStyle:focus{
    box-shadow: none;
    border-bottom:2px solid #6c757d!important;
}