.table-custom-style { 
    border-collapse: separate; 
    border-spacing: 0 10px; 
    margin-top: -10px; /* correct offset on first border spacing if desired */
    
}
.td-custom-style {
    /* border: solid 1px #0003; */
    /* border-style: solid none; */
    padding: 10px;
    background-color: #495057;
    color: #dee2e6;
    
    border:none!important;
}
.td-custom-style:first-child {
    /* border-left-style: solid; */
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}
.td-custom-style:last-child {
    /* border-right-style: solid; */
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}

.setting-title{
    /* background: #343a40; */
    color: #adb5bd;
    padding: 5px;
    margin: 3px 10px 0px 0px;
    /* border-radius: 8px; */
    font-family: roboto;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow:0pt 1pt 0pt 0px #fd9801;
}
.setting-title-radius{
    border-radius: 10px 10px 0px 0px;
}
.slider-title{
    background: #6c757d;
    color: #fafcffe0;
    padding: 5px;
    /* border-radius:5px 5px 0px 0px; */
    font-family: roboto;
    text-align:center;
}
.btn-upload{
    border: 1px solid #343a4059;
    border-radius: 10px;
}
.btn-upload:hover{
    background:black;
    color:white;
    transition:all 1s;
}
.btn-upload:focus{
    box-shadow:0pt 0pt 4pt #0da02d
}
.btn-upload>i{
   font-size:18px
}
.editInputStyle{
    border-radius: 10px;
    border: 1px solid #00000033;
    outline: none;
    width: 100%;
    padding: 5px;
    color:#007bff;
}
.editInputStyle:focus{
    box-shadow: 0pt 0pt 4pt #9a9598
}
.socialIconsStyle{
    display: flex;
    justify-content:center;
    align-items:center;
    border:1px solid #00000026;
    border-radius:8px;
    transition:all 1s;
    color:#6c757d;
}
.socialIconsStyle:hover{
    background:#545b62;
    color:white;
}
.socialIconsStyle>i{
    font-size:20px; 
}
.aboutInputStyle{
    display: block;
    width: 100%;
    /* background: #0000000a; */
    border-radius: 8px;
    border: none;
    border-bottom: 1px solid #00000024;
    outline: none;
    padding:10px 10px;
    font-size:16px;
}
.aboutInputStyle:focus{
    border-bottom: 1px solid #d39e00;
}
.futuredLinkInputStyle{
    display: block;
    width: 100%;
    /* background: #0000000a; */
    border: none;
    border-bottom: 1px solid #0000001f;
    outline: none;
    padding:3px;
    font-size:16px;
    border-radius: 6px;
}
.futuredLinkInputStyle:focus{
    border-bottom: 1px solid #d39e00;
}

textarea {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
}
textarea::-webkit-scrollbar{
    width:5px; 
}
textarea::-webkit-scrollbar-track{
    background:rgba(94, 93, 93, 0.26);
    border-radius: 25px
}
textarea::-webkit-scrollbar-thumb{
    /* background:linear-gradient(#6200ea,#4a148c,#6200ea); */
    background:#adb5bd;
    border-radius: 25px
}

