<%-include('../../partials/head.ejs')%>

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <%-include('../../partials/Error/alert.ejs')%>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">

            <div class="card mb-5 text-center">
                <h2 class="card-title text-center mt-3"> Reset your password</h2>
                <div class="card-body">
                    <p class="text-center">
                        We've sent you reset password link of your email.Check your email for a link to reset your
                        password.
                    </p>
                    <p class="text-muted text-center">If it doesn’t appear within a few minutes,
                        check your spam folder.</p>
                        <a href="<%=loginURI%>" class="btn btn-success">Return To Login</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<!-- Bootstrap JS Links -->
<%-include('../../partials/footer.ejs')%>

<body>

    </html>