<%-include('../../partials/head.ejs')%>
<div class="row" style="margin:0px!important">
    <div class="col-sm-12 p-5 remove__padding">
        <h3 class="text-center mb-4 addMarginTop" style="color:#545b62"><%=page.title%></h3>
        <div class="custom__container__card p-5 remove__padding">
            <div class="row remove__margin">
                <div class="col-sm-12">
                    <%if(page){%>
                        <div id="postBody" data-content="<%=page.body%>"></div>
                        <h1>programmer.mdminhaj@gmail.com</h1>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let show = document.getElementById('postBody')
    show.innerHTML = show.dataset.content
</script>
<%-include('../../partials/footer.ejs')%>
