<%-include('../../partials/head.ejs')%>
<div class="row" style="margin:0px!important">
    <div class="col-sm-12 px-5 py-3 addPaddingX">
        <h3 class="libray_page_title addMarginTop">Libray</h3>
        <div class="custom__container__card p-5 mt-3 removePaddingX">
            <div class="row remove__margin">

                <div class="col-sm-6 d-flex">
                   
                  <div class="img-cover">
                      <img src="/uploads/webimage/book1.jpg" alt="">
                  </div>
              
                        <!-- <pre><span class="text-left text__pre__style"></span></pre> --> 
                </div>

                <div class="col-sm-6">
                    <div class="text__content">
                        <h3><%=webModel.libray.title%></h3>
                        <p><%=webModel.libray.text%></p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<%-include('../../partials/footer.ejs')%>