<%-include('../../partials/head.ejs')%>
<div class="row" style="margin:0px!important">
    <div class="col-sm-12 px-5 py-3 addPaddingX">
        <h3 class="libray_page_title addMarginTop">Mission & Vission</h3>
        <div class="custom__container__card p-5 mt-3 removePaddingX">
            <div class="row remove__margin">
                <div class="col-sm-6 d-flex">
                   
                  <div class="img-cover">
                      <img src="/uploads/webimage/mission&vission2.jpg" alt="">
                  </div>
              
                        <!-- <pre><span class="text-left text__pre__style"></span></pre> --> 
                </div>
                <div class="col-sm-6">
                    <div class="text__content">
                        <h3 style="color:#259ed6"><%=webModel.missionAndvission.title%></h3>
                        <p><%=webModel.missionAndvission.text%></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%-include('../../partials/footer.ejs')%>