<%-include('../../partials/head.ejs')%>
<div class="row" style="margin:0px!important">
    <div class="col-sm-12 clearXPadding">
        <h3 class="text-center my-3 addMarginTop" style="color:#545b62">Notice</h3>
        <div class="custom__container__card px-4 py-5">
       
           
              <div class="notice__title mb-2">
                  <%=singleNotice.title%>
              </div>
              <div class="notice px-5 py-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit iusto inventore amet repudiandae repellendus culpa similique porro earum? Corrupti iure, incidunt sequi exercitationem amet commodi odit dicta at delectus enim blanditiis fugit cumque eligendi dolore inventore consequatur molestias fugiat voluptas accusantium repudiandae laboriosam explicabo qui ipsa aliquam! Neque, tenetur eligendi!</p>
              </div>
        </div>
    </div>
</div>
<%-include('../../partials/footer.ejs')%>

</body>
</html>