/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Georgia";

  src: url("./fonts/Georgia.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}