<%-include('../partials/head.ejs')%>
<div style="margin:0px!important" class="row">
   <div class="col-sm-12 text-center">
      <img src="/uploads/defaults/404.jpg" class="img-fluid" alt="Responsive image">
   </div>
</div>
<%-include('../partials/footer.ejs')%>