
.jasa-logo:hover {
	cursor: pointer;
}
/* Header Section */
.main-head-container {
	border-bottom: 1px solid #6c757d;
	position: relative;
}
.head-container {
	border-radius: 20px;
}
.head-name {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.web-name {
	font-family: arial;
	color: #545b62;
	font-size: 22px !important;
	/* letter-spacing: 3px; */
	font-weight: bolder;
}
.braking-news {
	color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: 1100px;
    margin: auto;
	
}
.head-social-links {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.head-social-links > a > i {
	font-size: 18px;
	padding: 5px;
	border-radius: 50%;
	background: #343a40e0;
}
/* .head-youtube > i {
	color: red;
}
.head-twitter > i {
	color: #00a1ff;
}
.head-facebook > i {
	color: #0ca5ff;
} */
.head-social-links > a > i:hover {
	border: 1px dashed black;
	background: none;
	transform: scale(0.9);
	transition: transform 0.5s;
}