@font-face {
	font-family: 'Georgia';
	src: url('/fonts/Georgia/Georgia.woff') format('woff'); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'myfont';
	src: url('/fonts/baskerville/BaskervilleBT.woff') format('woff'); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

.custom-login-card{
    background:white;
    max-width:500px;
    margin:0 auto;
    border-radius: 10px;
    border: 1px solid #00000024;
}
.custom-login-title{
    text-align:center;
    border-bottom: 1px solid #1d212445;
    margin-bottom:2rem;
    /* background: linear-gradient(45deg, #007bff, transparent); */
    /* border-radius: 8px; */
    color: #0062cc;
}
.custom-login-title>h4{
    padding:0.25rem 0rem;
}
.custom-login-body{
    max-width:350px;
    margin:auto;
    padding:2rem 1rem;
    border: 1px solid #00000030;
    border-radius: 10px;
}
.custom-login-footer{
    text-align:center;
    border-top: 1px solid #2125293b;
    margin-top:2rem;
    /* background: linear-gradient(45deg, #007bff, transparent); */
}


.login-btn-style{
    width:70%;
    padding:0.25rem 0.25rem;
    margin:0.5rem 0rem;
    border-radius: 10px;
    border: none;
    border: 1px solid #0000000d;
    background: #27a243;
    color: white;
    transition:all 1s;
}
.login-btn-style:hover{
    background:#166328;
}
.custom-login-field-style{
    width:100%;
    border:none;
    border-bottom:1px solid #1d212459;
    padding:0.25rem 0.25rem;
}
.custom-login-field-style:focus{
    border-bottom:1px solid #d39e00;
}

.bg-image{
    background: #e9ecef!important;
}
.user-login-btn{
    width:49%;
    border: 1px solid #0000004f;
    background: #f8f9fa;
    padding: 5px 0px;
    border-radius: 4px;
    transition:all 0.25s;
}
.user-login-btn:focus{
    background:#545b62;
    outline:none;
    color:white;
}
.user-login-btn:hover{
    background:#1d212414;
    color:black;
}