.__navbar{
	background: #343a40;
	padding: 8px 0px;
}

.custom_navbar{
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1200px;
	margin:auto;
	border:1px solid #1e7e34;
	border-radius: 8px;
}

.custom_navbar>ul{
	list-style: none;
	margin: 0px;
	display: flex;
	justify-content: space-around;
}
.custom_navbar>ul>li{
	
	text-align: center;
	display: block;
	width: 100%;
	cursor: pointer;
	position: relative;
	z-index: 1000
}
.custom_navbar>ul>li>a{
	font-family: Arial, Helvetica, sans-serif;
	color: #f8f9fa;
	font-weight: 600;
	text-transform: uppercase;
	padding:8px 0px;
	display: block;
	border-right:1px dashed #1e7e34;
}
.custom_navbar>ul>li>a:hover{
	color: #f8f9fa;
	border-bottom: 1px dashed orange;
	box-shadow: 1px 0px 1px 0px #ffffff40;
	transform: translateX(5px);
	transition: transform 0.5s;
	text-decoration:none
}

.__dropdown::after{
	content: '';
	display: block;
	width: 35px;
	height: 35px;
	background: #495057;
	position: absolute;
	top: -18px;
	left: 10px;
	transform: rotate(45deg);
	z-index: -10;
	border-left: 1px solid #ffffff21;
	border-top: 1px solid #ffffff21;
}

.__dropdown{
	list-style: none;
	background: #495057;
	position: absolute;
	min-width:200px;
	top:40px;
	border: 2px solid #ffffff21;
	border-radius: 10px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
}
.__dropdown>li{
	overflow: hidden;
}
.__dropdown>li>a{
	display: block;
	text-decoration: none;
	color: #f8f9fa;
	font-weight: 600;
	padding:8px 0px;
	border-bottom: 1px solid #ffffff21;
	
}
.__dropdown>li>a:hover{
	transform: translateX(20px);
	transition: transform 0.35s;
	border-left: 1px dashed #ff9f07f0;

}
.__dropdown-active{
	visibility: visible;
	opacity: 1;
	
}
.toggle{
	display: none;
}
.drop-toggle-icon{
	transform:rotate(90deg);
}
.sticky{
	position: fixed;
	top:0px;
	width: 100%;
	z-index: 1000;
}
@media (max-width:576px){
	.__navbar{
		padding:0px!important;
		position: relative!important;
	}
	.custom_navbar{
		display: block!important;
		height: auto!important;
		width: 100%!important;
		border:0px!important;
		border-radius: 0px!important; 
		visibility: hidden;
		position: absolute!important;
		z-index: 1000;
		top:48px;
		overflow: hidden;
	}
	
	.custom_navbar>ul{
		margin: 0px; 
		display: block!important; 
		background:#343a40;
		transform: translateY(-148px);
		transition: all 0.5s;
		opacity: 0;
	}
	.custom_navbar>ul>li>a{
		border-right:none!important;
		border-bottom: 1px solid #ffffff17!important;
		box-shadow: none;
		padding:12px 0px;
	}
	.custom_navbar>ul>li>a:hover{
		transform:translateY(4px);
		transition:all 0.5s;
		border-bottom:1px solid orange!important;
	}
	.__Active{
		visibility: visible!important;
	}
	.__Active>ul{
		transform: translateY(0px);
		opacity: 1;
	}
	.toggle{
		display: block;
		text-align: right;
	}
	.toggle>svg{
		font-size: 2.75rem;
		color:white;
		margin-right: 10px;
		margin-top:5px
	}
	.__dropdown::after{
		display: none;
	}
	.__dropdown{
		position: static!important;
		display: none;
		width: 95%;
		margin: auto;
		transform: translateY(5px);
	}

	.__dropdown-active{
		display: block;
		opacity: 1;
		margin-top: 5px;
	}
}