.text__para__bold{
    font-weight: 500;
    font-size:16px;
    color:#545b62;
}
.custom__container__card{
    box-shadow:0pt -3pt 5pt 2px #00000021;
}
.custom__card{
    border: 8px solid #6c757d26;
    border-radius: 8px;
    min-height: 32rem;
    display: flex;
    flex-direction: column;
}
.card__image{
    width:40%;
    max-width:50%;
    box-shadow: 0pt 5pt 3pt 3pt #0000001c;
    text-align: center;
    border-radius:0px 0px 5px 5px;
}
.card__image>svg{
    max-height:10rem;
    color:#dee2e6;
}
.card__image>img{
    max-width:100%;
}
.img__title{
    text-align: center;
    width: 100%;
    margin: auto;
    padding:0.5rem;
    /* border-bottom: 2px solid #d39e00; */
    /* padding-bottom: 10px; */
}
.read__more{
    display: inline-block;
    border:none;
    font-size:14px;
    outline:none;
}
.read__more:hover{
    color:#212529!important;
}
.read__more:focus{
    outline: none;
    color:#28a745!important;
}
.contactInfo{
    text-align: center;
    padding: 0.25rem 0.25rem;
    border: 1px solid #0000001a;
    margin: 2px;
    border-radius:10px;
}
.contactInfo>h6>svg{
    width:15px;
    height:15px;
    color:#6c757d;
}
.contactInfo>h6{
    font-size:1em;
    color:#6c757d;
    margin:0px!important;
}
.img__title>h6{
    color:#545b62;
    margin:0px!important;
}
.max__height__scroll{
    max-height:18rem;
    overflow-y:auto;
}
.max__height__scroll::-webkit-scrollbar{
    width:1px; 
}
.max__height__scroll::-webkit-scrollbar-thumb{
    background:#adb5bd;
}

.custom__card__body{
    width: 85%;
    margin:auto;
    /* border-top: 2px solid #d39e00; */
    /* padding-top: 10px; */
    border-top: 6px solid #6c757d;
    border-left: 6px solid #0000002b;
    border-right: 6px solid #0000002e;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}
.custom__card__body>p{
    font-size:16px;
    font-weight: bold;
    color:#6c757d;
}
.line__container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 10px;
}
.hr__style{
   
    /* background: #d39e00; */
    border:4px solid #adb5bd;
    margin:0rem;
    margin-top:0.5rem!important;
    border-radius:10px;
}


/* Teachers Page Style */
.border__style__row{
    border-radius: 0px!important;
    box-shadow: -3pt -3pt 0pt 3pt #00000024
}
/* .list__item__btn__style{
 
    
} */
.list__item__btn__style:focus{
    box-shadow: none!important;
    
}
.hover__effect__item{
    transition: all 0.5s;
}
.hover__effect__item:hover{
    transform:translateX(20px)
}
.small__img__card{
    max-width:80%;
    box-shadow: 0pt 5pt 3pt 3pt #0000001c;
    text-align: center;
    border-radius:0px 0px 5px 5px;
}
.small__img__card>svg{
    max-height:10rem;
    width: 10rem;
    color:#adb5bda8;
}
.small__img__card>img{
    width:100%;
    max-height:10rem;
}
.small__card__about{
    text-align: center;
}
.small__card__about>button{
    border:none;
    outline:none;
    width:50%;
    padding:3px 0px;
    border-radius:10px;
    box-shadow:0pt 0pt 3pt 2pt #0000001f;
    color:#1e7e34;
    transition:all 0.5s;
}
.small__card__about>button:hover{
    background: #adb5bd;
    color: #f8f9fa;
}

.libray_page_title{
    color: #545b62;
    border-bottom: 5px solid var(--yellow);
    padding: 5px;
    /* outline: 3px solid var(--orange); */
    box-shadow: 0px 0px 3px 0px var(--danger);
    width: 300px;
    margin: auto;
    border-radius: 20px;
    text-align: center;
}
.img-cover{
    max-width:900px;
    height:auto;
}
.img-cover>img{
    width:100%;
}
.text__content{
    max-width:480px;
}
.text__content>h3{
    color: #a05159;
    font-weight: bold;
    font-family: arial;
    font-size:2.75vw;
}
.text__content>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75vw;
    font-weight: bold;
    color: #6c757d;
}
.contact_map{
    width:100%;
    height:420px;

}
.contact_map>iframe{
        border-radius:10px;
}
/* .contact__wrapper{} */
.contact__title{
    text-align: center;
}
.contact__title>h4{
    color: #343a40;
}
.contact__title>h5{
    color: #495057;
}
.contact__item{
    text-align:center;
    border: 1px solid #a7afb98a;
    margin-top:15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0pt 0pt 3pt 0pt #00000026;
    transition:all 0.75s;
    cursor: pointer;
}
.contact__item:hover{
    background: #adb5bd;
    transform: scale(0.99)
}
.contact__item>i{
    font-size: min(3vw,40px);
    color: #1e7e34e0;
}
.contact__item>p{
    margin-left:10px;
    margin-bottom:0px!important;
}
.custom__contact__input{
	width: 100%;
	padding:6px;
	outline: none;
	border: none;
    border-bottom: 1px solid #adb5bd9e;
    transition: all 0.5s;
    resize: none

}
.custom__contact__input:focus{
    border-bottom:1px solid #545b62;
    
}
.submit__btn{
    
    width:30%;
    padding:10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:8px;
    transition: all 0.25s;
    border:1px solid #495057;
    background:#dae0e5;
    color:#495057;

}
.submit__btn:hover{
    color:#1e7e34;
    border:1px solid #1e7e34;
    transform:scale(0.99)

}
.submit__btn:focus{
    outline: none;
    box-shadow:0pt 0pt 3pt 0pt #0062cc
}
@media (max-width:574px){
    .remove__padding{
        padding:0px!important;
    }
    .remove__margin{
        margin:0px!important;
    }
    .card__image{
        width:80%!important;
        max-width:95%!important;
    }
    .custom__card__body{
        width:100%;
    }
    .addMarginTop{
        margin-top:1rem;
    }
  
    .removePaddingX{
        padding-right:0px!important;
        padding-left:0px!important;
    }
    .addPaddingX{
        padding-right:15px!important;
        padding-left:15px!important;
    }
    .addPaddingY{
        padding-top:15px!important;
        padding-bottom:15px!important;
    }
    .text__content>h3{
        font-size:20px;
    }
    .text__content>p{
        font-size: 16px;
    }
    .contact__item>i{
        font-size: 9vw;
    }
    .submit__btn{
        width:45%;
        display: block;
        margin: auto;
    }
}
