* {
	margin: 0px;
	padding: 0px;
	outline: 0px;
}
/* Font */
@font-face {
	font-family: 'Georgia';
	src: url('/fonts/Georgia/Georgia.woff') format('woff'); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'myfont';
	src: url('/fonts/baskerville/BaskervilleBT.woff') format('woff'); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

.jasa-logo:hover {
	cursor: pointer;
}
/* Header Section */
.main-head-container {
	border-bottom: 1px solid orange;
	position: relative;
}
.head-container {
	border-radius: 20px;
}
.head-name {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.web-name {
	font-family: myfont;
	color: black;
	font-size: 20px !important;
	letter-spacing: 3px;
}
.braking-news {
	color: red;
	font-family: Georgia;
	font-size: 14px;
}
.head-social-links {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.head-social-links > a > i {
	font-size: 18px;
	padding: 5px;
	border-radius: 50%;
	background: #343a40e0;
}
.head-youtube > i {
	color: red;
}
.head-twitter > i {
	color: #00a1ff;
}
.head-facebook > i {
	color: #0ca5ff;
}
.head-social-links > a > i:hover {
	border: 1px dashed black;
	background: none;
	transform: scale(0.9);
	transition: transform 0.5s;
}
/* Navigation */
.mani-navigation-container {
	border-bottom: 5px solid red;
	position: relative;
}
.navigation-container {
	border: 1px solid #56ff0052;
	border-radius: 8px;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.navigation > ul > li > a {
	color: white !important;
	border-right: 1px dashed green;
	font-family: Georgia;
	font-family: 14px;
}
/* Hover Effect Of Navigation  */
.navigation > ul > li:hover {
	border-bottom: 1px dashed orange;
	transform: translateX(5px);
	transition: transform 0.5s;
	box-shadow: 1px 0px 1px 0px #ffffff40;
}

.nav-toggler {
	width: 35px;
	height: 30px;
	border: 1px solid #ffffffa8;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 6px;
	box-shadow: 0px 0px 1px 1px #280c7dbd;
}
.nav-toggle-line {
	width: 25px;
	height: 3px;
	background: #ffffffa8;
}

/* Footer Section */
.footer-brand-title {
	color: white;
	font-family: Georgia;
}
.footer-brand-bottom-border {
	width: 100px;
	height: 4px;
	background: linear-gradient(to right, red, green, orangered);
	border-radius: 1px 1px 1px 1px;
}

.footer-title {
	color: white;
	font-size: 24px;
	font-family: Georgia;
}
.footer-about-text {
	color: white;
	font-family: 'Raleway';
	font-size: 14px;
	max-width: 80%;
}
.footer-border {
	max-width: 80%;
	height: 1px;
	background: green;
}
.footer-link-container {
	list-style: none;
}
.footer-link-container > li > a {
	font-family: 'Raleway';
	font-size: 14px;
}
.footer-link-container > li:hover {
	transform: translateX(10px);
	transition: transform 0.5s;
}

.social-links > a > i {
	font-size: 21px;
	padding: 5px;
	border-radius: 50%;
	background: black;
}
.social-links > a > i:hover {
	transform: rotate(360deg);
	transition: transform 1s;
	background: #007bff40;
}
.facebook > i {
	color: #0980ec;
}
.youtube > i {
	color: red;
}
.instragram > i {
	color: red;
}
.twitter > i {
	color: #2fa5ff;
}
/* Copyrgiht */
.copyright {
	display: flex;
	justify-content: space-between;
	background: #212529eb;
	border-top: 1px solid #0080008c;
}
.copyright > p {
	font-family: Georgia;
	font-size: 14px;
	color: #f8f9fad6;
}

/* Responsive Design */

@media (max-width: 768px) {
	/* Navigation */
	.navigation > ul > li > a {
		border-right: 0px;
		display: inline-block;
	}
	/* Footer Section */
	.social-container {
		padding: 3rem !important;
	}
	.copyright {
		display: block !important;
		text-align: center;
		padding-top: 15px;
		padding-bottom: 10px;
	}
	.copyright > p {
		padding: 0px !important;
		line-height: 5px;
		font-size: 12px;
	}
}
@media (max-width: 575px) {
	/* Header Section */
	.main-head-container {
		border-bottom: 1px solid green;
	}
	.head-container {
		border-radius: 0px;
	}
	/* Navigation */
	.navigation-container {
		border-top: 0px;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
		margin-top: 0px;
	}
}
