@import './head.css';
@import './navigation.css';
@import './slider.css';
@import './login.css';
@import './footer.css';
* {
	margin: 0px;
	padding: 0px;
	outline: 0px;
}
/* Font */
@font-face {
	font-family: 'Georgia';
	src: url('/fonts/Georgia/Georgia.woff') format('woff'); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'myfont';
	src: url('/fonts/baskerville/BaskervilleBT.woff') format('woff'); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

/* Navigation */

