
    <% if (flashMessage.success) { %>
        <div style="
                color: #f8f9fa;
                background: #28a745;
                border-radius: 0px;
        " class="alert text-center alert-dismissible fade show">
            <%= flashMessage.success %>
            <button class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"> &times; </span>
            </button>
        </div>
    <%}%>
    <% if(flashMessage.fail) { %>
        <div 
            style="
                color: #f8f9fa;
                background: #ff000040;
                border-radius: 0px;
              
            "  
            class="alert  text-center alert-dismissible fade show ">
            <%= flashMessage.fail %>
            <button class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"> &times; </span>
            </button>
        </div>
    <%}%>
    
    
    
  
  
  
  
  
  
  
  
  
  
  <!-- <% if (flashMessage.success) { %>
    <div class="alert alert-success alert-dismissible fade show">
        <%= flashMessage.success %>
        <button class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"> &times; </span>
        </button>
    </div>
<%}%>
<% if(flashMessage.fail) { %>
    <div class="alert alert-danger alert-dismissible fade show ">
        <%= flashMessage.fail %>
        <button class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"> &times; </span>
        </button>
    </div>
<%}%>

 -->









