<!-- Dashboard Sidebar -->
<div class="col-sm-2 bg-dark">
    <!-- Dashboard Brand -->
    <div class="row text-center py-2 admin-head-brand-container">
        <div class="col-sm-8 m-auto admin-head-brand">
            <h1>JASA</h1>
        </div>
    </div>
    <!-- Dasboard Menus -->
    <div class="row sidebar">
        <div class="col-sm-12 my-3 ">
            <div class="row">
                <div class="col-sm-10 py-2 sidebar-menu-item">
                    <div class="row">
                        <div class="col-sm-12 text-center"> <a href="/administrator/dashboard">Dashboard</a></div>
                    </div>
                </div>
                <div class="col-sm-10 py-2 sidebar-menu-item">
                    <div class="row">
                        <div class="col-sm-9"><a href="/administrator/menu-create" class="ml-3" id="menuBtn">Menus </a></div>
                        <div class="col-sm-3"> <i class="fas fa-sort-down"></i></div>
                    </div>
                </div>
    
                <div class="col-sm-10 py-2 pages sidebar-menu-item">
                    <div class="row">
                        <div class="col-sm-9" id="pageBtn"><a href="#" class="ml-3">Pages </a></div>
                        <div class="col-sm-3"> <i class="fas fa-sort-down pageSort"></i></div>
                    </div>
                    <div class="row mt-2 pages-menu-container">

                        <div class="col-sm-12">
                            <ul class="mt-2 pages-menu">
                                <li>
                                   <button>Home</button>
                                </li>
                                <li>
                                    <button>About</button>
                                </li>
                                <li>
                                    <button>Contact</button>
                                </li>
                                
                            </ul>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="#" class="page-create-btn"><i class="mr-2 fas fa-calendar-plus"></i>Create</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           

                <div class="col-sm-10 py-2 sidebar-menu-item">
                    <div class="row">
                        <div class="col-sm-9"><a href="#" class="ml-3">Notice </a></div>
                        <div class="col-sm-3"> <i class="fas fa-sort-down"></i></div>
                    </div>
                </div>

                <div class="col-sm-10 py-2 sidebar-menu-item">
                    <div class="row">
                        <div class="col-sm-9"><a href="#" class="ml-3">Results </a></div>
                        <div class="col-sm-3"> <i class="fas fa-sort-down"></i></div>
                    </div>
                </div>

                <div class="col-sm-10 py-2 sidebar-menu-item">
                    <div class="row">
                        <div class="col-sm-9"><a href="#" class="ml-3">Teachers </a></div>
                        <div class="col-sm-3"> <i class="fas fa-sort-down"></i></div>
                    </div>
                </div>

                <div class="col-sm-10 py-2 sidebar-menu-item">
                    <div class="row">
                        <div class="col-sm-9"><a href="#" class="ml-3">Links </a></div>
                        <div class="col-sm-3"> <i class="fas fa-sort-down"></i></div>
                    </div>
                </div>
                
                <div class="col-sm-10 py-2 sidebar-menu-item">
                    <div class="row">
                        <div class="col-sm-9"><a href="#" class="ml-3">Registerd </a></div>
                        <div class="col-sm-3"> <i class="fas fa-sort-down"></i></div>
                    </div>
                </div>

                <div class="col-sm-10 py-2 sidebar-menu-item">
                    <div class="row">
                        <div class="col-sm-9"><a href="#" class="ml-3">Documents </a></div>
                        <div class="col-sm-3"> <i class="fas fa-sort-down"></i></div>
                    </div>
                </div>

                <div class="col-sm-10 py-2 sidebar-menu-item">
                    <div class="row">
                        <div class="col-sm-8">  <a href="/administrator/create" class="ml-3">Administrator</a></div>
                        <div class="col-sm-3"> <i class="fas fa-sort-down"></i></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>