<!doctype html>
<html lang="en">
  <head>
    <title><%=title%></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <!-- Summernote Text Editor -->
    <link href="/summernote.css" rel="stylesheet">
    
    <!-- Fontawesome -->
    <link rel="stylesheet" href="/css/all.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/styles/admin/style.css">
  
    <!-- <script src="/adminStyle.bundle.js"></script> -->

  </head>
  <body class="<%=style%>">
