<!doctype html>
<html lang="en">
<head>
  <title><%=title%></title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <!-- Summernote Text Editor -->
  <link href="/summernote-bs4.min.css" rel="stylesheet">
  <!-- Fontawesome -->
  <link rel="stylesheet" href="/css/all.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Stylesheet -->
  <!-- <link rel="stylesheet" href="/styles/admin/style.css"> -->
  <script src="/adminStyle.bundle.js"></script>
  <link rel="stylesheet" type="text/css" media="print" href="/styles/user/printResult.css">
</head>
<body class="<%=style%>">