
<!-- ANCHOR: Admin Navbar Content  -->

<div class="row admin-content-head bg-dark">
    <div class="col-sm-2">
        <div class="d-flex align-items-center admin-content-head-administrator">
            <a href="/administrator/account">
                <button type="submit" class="btn btn-dark btn-sm"><i class="fas fa-user-shield"></i>
                    Administrator
                </button>
            </a>
        </div>
    </div>
    <div class="col-sm-6 text-center admin-head-search">
        <form action="/search" method="GET" class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary btn-sm my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="col-sm-4 ">
        <div class="admin-head-icon">
            <button class="btn btn-dark btn-sm" id="shorthNoticeBtn"><i class="fas fa-bell"></i></button>
            <div class="dropdown-menu" id="shorhNoticeToggle">

                <div class="setting-account text-danger">
                    <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-bell-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                      </svg>
                    Notice
                </div>
                <form action="/administrator/notice/send" method="POST">
                <div class="setting-application p-1">
                    <div class="form-group pt-2">
                        <textarea class="form-control" name="notice" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-sm btn-primary w-75">Submit</button>
            
                </div>
                </form>
                
            </div>
            
            <button class="btn btn-dark btn-sm"><i class="fas fa-comment-dots"></i></button>
            <button class="btn btn-dark btn-sm"><a href="/administrator/emails"><i class="fas fa-envelope"></i></a></button>
            <button class="btn btn-dark btn-sm setting"><i class="fas fa-cog"></i></button>
            <div class="dropdown-menu  setting-menu">

            <div class="setting-account">
                <span>Signed as</span>
                <br>
                <span class="account-name px-2"><%=data.name?data.name:'Administrator'%></span>
            </div>
            
            <div class="setting-application">
                    <a href="/administrator/account">
                        <div class="setting-item">Your Profile</div>
                    </a>
                    <a href="/auth/change-password""><div class=" setting-item">Change Password</div></a>
                <a href="/administrator/security-password">
                    <div class="setting-item">Security Password</div>
                </a>
            </div>

            <div class="setting-application">
                <a href="#">
                    <div class="setting-item">Future Preview</div>
                </a>
                <a href="">
                    <div class="setting-item">Help</div>
                </a>

                <a href="/administrator/setting">
                    <div class="setting-item">Setting</div>
                </a>

                <a href="/auth/logout">
                    <div class="setting-item">Singout</div>
                </a>
            </div>
        </div>
        <form action="/auth/logout" method="GET">
            <button class="btn btn-dark btn-sm" type="submit"><i class="fas fa-sign-out-alt"></i>
                LOGOUT
            </button>
        </form>
    </div>
</div>
</div>