
<!-- ANCHOR: Admin Navbar Content  -->

<div class="row admin-content-head bg-dark">
    <div class="col-sm-2">
        <div class="d-flex align-items-center admin-content-head-administrator">
            <a href="/administrator/account">
                <button type="submit" class="btn btn-dark btn-sm"><i class="fas fa-user-shield"></i>
                    Administrator
                </button>
            </a>
        </div>
    </div>
    <div class="col-sm-6 text-center admin-head-search">
        <form action="/search" method="GET" class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary btn-sm my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="col-sm-4 ">
        <div class="admin-head-icon">
            <button class="btn btn-dark btn-sm"><i class="fas fa-bell"></i></button>
            <button class="btn btn-dark btn-sm"><i class="fas fa-comment-dots"></i></button>
            <button class="btn btn-dark btn-sm"><i class="fas fa-envelope"></i></button>
            <button class="btn btn-dark btn-sm setting"><i class="fas fa-cog"></i></button>
            <div class="dropdown-menu  setting-menu">

                <div class="setting-account">
                    <span>Signed as</span>
                    <br>
                    <span class="account-name px-2"><%=data.name?data.name:'Administrator'%></span>
                </div>
                <div class="setting-application">
                    <a href="/administrator/account">
                        <div class="setting-item">Your Profile</div>
                    </a>
                    <a href="/auth/change-password""><div class=" setting-item">Change Password</div></a>
                <a href="/administrator/security-password">
                    <div class="setting-item">Security Password</div>
                </a>
            </div>

            <div class="setting-application">
                <a href="#">
                    <div class="setting-item">Future Preview</div>
                </a>
                <a href="">
                    <div class="setting-item">Help</div>
                </a>

                <a href="/administrator/setting">
                    <div class="setting-item">Setting</div>
                </a>

                <a href="/auth/logout">
                    <div class="setting-item">Singout</div>
                </a>
            </div>
        </div>
        <form action="/auth/logout" method="GET">
            <button class="btn btn-dark btn-sm" type="submit"><i class="fas fa-sign-out-alt"></i>
                LOGOUT
            </button>
        </form>
    </div>
</div>
</div>